/* ////// ROOT COLORS ////// */

:root {
    --light-pink: #FFEFFD;
    --light-blue: #F0F7FE;
    --black: #424242;
    --white: #E3e5e8;
}




/* ////// ALL ////// */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-blue);
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ////// NAV ////// */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.container {
    position: relative;
    padding: 0 1.5rem;
    margin: 0 auto;
    width: 100%;
    max-width: 75rem;
}