/* ////// ROOT COLORS ////// */

:root {
    --light-pink: #FFEFFD;
    --light-blue: #F0F7FE;
    --black: #424242;
    --white: #E3e5e8;
    --blue: #628EE6;
    --grey: #71797E;
    --coral: #ffabab;
    --tan: #DFD3C1;
    --dark-blue: #004C8D;
}
body{
--light-pink: #FFEFFD;
    --light-blue: #F0F7FE;
    --black: #424242;
    --white: #E3e5e8;
    --blue: #628EE6;
    --grey: #71797E;
    --coral: #ffabab;
    --tan: #DFD3C1;
    --dark-blue: #004C8D;
}

/* ////// ALL ////// */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-blue);
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--black);
}

/* ////// NAV ////// */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.4s;
    background-color: transparent !important;
}

header.scrolled {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 999;
    background-color: transparent;
    backdrop-filter: blur(100px);
    transition: 0.1s;
}

.container {
    position: relative;
    padding: 0 1.5rem;
    margin: 0 auto;
    width: 100%;
    max-width: 75rem;
}

nav.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
 
.links {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.nav-link {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 1rem;
    font-size: .9rem;
    letter-spacing: .5px;
    color: var(--blue) !important;
    transition: 0.4s;
}

.nav-link:hover {
    color: var(--black) !important;
}

.links ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.nike-logo {
    height: 120px;
    margin-right: 1.5rem;
    line-height: 120px;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    font-size: 2.4rem;
    color: var(--black);
    transition: 0.4s;
}

header.scrolled .nike-logo {
    height: 80px;
    line-height: 80px;
    z-index: 999;
}

.dark-mode-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 40px;
    color: var(--blue);
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    font-size: 1.1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.4s;
    margin-right: .6rem;
}

.dark-mode-btn:hover {
    filter: brightness(96%);
}


/* ////// MAIN AREA ////// */

.main-area {
    width: 100%;
    overflow: hidden;
    padding: 175px 0; 
}

.main-area .container {
    display: grid;
    grid-template-columns: 1fr 550px;
    align-items: center;
    max-height: 600px;
}

    .main-sub-heading {
    color: var(--grey);
    font-size: 1rem;
    letter-spacing: .5px;
    border-left: 2px solid var(--blue);
    margin-bottom: .6rem;
    padding: 0.13rem 0.40rem;
   }

   .main-heading {
    font-size: 3.5rem;
    color: var(--black);
    line-height: 1.3;
   }

   .main-summary {
    color: var(--black);
    line-height: 1.6;
    margin-top: 15px;
    letter-spacing: .5px;
    padding-right: 9.2rem;
    text-align: center;
   }

   .main-area .main-sub-heading {
    margin-bottom: 0.7rem;
   }

   .main-area .main-summary {
    margin: 3rem 0;
   }

   .shoe-color h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: .9rem;
    color: var(--grey);
    padding-left: 2.3em;
    padding-top: 2.2em;
    margin-left: 9.3rem;
   }

   .color-wrapper {
    display: flex;
    flex-flow: row;
    padding: .3rem 3rem;
    margin-left: 4.4rem;
   }

   .color-wrapper > div.active {
    border: 2px solid var(--black);
   }

   .color-wrapper > div:hover {
    cursor: pointer;
   }

   .color-wrapper > div {
    width: 50px;
    height: 50px;
    padding: 3px;
    margin: 5px;
    border: 2px solid var(--black);
    border-radius: 50%;
    background-color: var(--light-blue);
   }

   .color-wrapper > div > div {
    height: 40px;
    width: 40px;
    border-radius: 50%;
   }

   .color-wrapper .shoe-bg-pink {
    background-color: var(--coral);
    transition: 0.4s
   }

   .color-wrapper .shoe-bg-blue {
    background-color: var(--blue);
    transition: 0.4s
   }

   .color-wrapper .shoe-bg-tan {
    background-color: var(--tan);
    transition: 0.4s
   }

   .color-wrapper .shoe-bg-pink:hover,
   .color-wrapper .shoe-bg-blue:hover,
   .color-wrapper .shoe-bg-tan:hover {
    filter: brightness(90%)
   }

   .btn-wrapper {
    padding: 1rem 7.5rem;
   }

   button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.add-btn {
    width: 12rem;
    height: auto;
   }
   
   button.add-btn .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--black);
    border-radius: 1.625rem;
   }
   
   button.add-btn .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--blue);
   }
   
   button.add-btn .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.add-btn .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid var(--light-blue);
    border-right: 0.125rem solid var(--light-blue);
    transform: rotate(45deg);
   }
   
   button.add-btn .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--black);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: var(--light-blueblue);
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: var(--light-blue)
   }

   .main-image {
    width: 100%;
    height: 155%;
    padding-top: 3rem;
    position: relative;
    background-image: linear-gradient(124deg, var(--blue) 53%, var(--coral) 53%);
    margin-top: -120px;
    border-radius: 0 0 80px 80px;
   }

   .main-image .shoe-pic {
    position: absolute;
    width: 105%;
    bottom: 0;
    right: 5%;
    transform: translateX(-50%);
    transform: rotate(-35deg);
   }
